@* @model HelloModel *@

<h1>Hello @ViewData["Name"]</h1>
@* <div>Hello @ViewData["Title"]</div> *@
@foreach (var item in ViewData["AAA"] as int[])
{
    <p>@item</p>
}

<div>
    @ViewBag.Message @ViewBag.Name
</div>